[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
transformers = "*"
torch = "*"
accelerate = "*"
sentencepiece = "*"
protobuf = "*"
langchain = "*"
langchain-community = "*"
langchain-text-splitters = "*"
faiss-cpu = "*"
pypdf2 = "*"
python-multipart = "*"
sentence-transformers = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
